@font-face {
  font-family: "CustomFont";
  src: url("../../../public/Assets/Fonts/KeroKero-51BBx.ttf")
  /* src: url("../../../public/Assets/Fonts/PocketMonk-15ze.ttf") */
    format("truetype");
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  outline: none;
}

.wrapper {
  width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2e0f38;
}

.logoWitch {
  position: relative;
  display: flex;
  justify-content: center;
  /* margin: 0; */
  margin: 40px 0 0px 0;
  padding: 0;
  font-family: "CustomFont", Solid, sans-serif;
  font-size: 5em;
  color: #703675;
  -webkit-text-stroke: 0.5px #000000;
  text-shadow: -6px 9px 7px #000000;
}
@media screen and (min-width: 768px) {
  .logoWitch {
    font-size: 120px;
  }
}



@media screen and (min-width: 1200px) {
  .font {
    font-size: 15em;
  }
}
