.typesbar {
  display: flex;
  /* width: 100%; */
  padding: 15px 2vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
  gap: 10px;
  background: #1a2c54;
  border-radius: 10vw;
  box-shadow: 0 0 10px 5px #b45ebb73;
}

.icon {
  display: flex;
  width: 7vw;
  height: 7vw;
  padding: 1.5vw;
  cursor: pointer;
  border-radius: 100%;
  background: #e6e6e6;
}


.icon img {
  width: 100%;
  height: 100%;
}
